# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/
*.so

# Virtual environments
venv/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Go
go_parser_custom/*.exe
go_parser_custom/*.csv

# OS files
Thumbs.db
.DS_Store
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Third-party library (demoinfocs-golang)
go_parser/

# Large demo files
*.dem
demos/
